.container-contacto
{
  position: relative;
  top: 40px;
  left: 200px;
  width: 100%;
  height: 100%;
}

.formulario-completo
{
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -30%);
  min-width: 800px;
  height: 500px;
  background: rgba(255,255, 255, 0.5);
  border: 1px solid #fff;
  border-radius: 2em;
  box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.1), 8px 8px 25px rgba(255, 255, 255, 0.15), 3px 3px 10px rgba(0, 0, 0, 0.1), inset -4px -4px 15px rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.formulario-derecha
{
  position: relative;
  width: 100%;
  height: 100%;
}
.formulario-nombre
{
  position: absolute;
  width: 100px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.formulario-nombre h3
{
  position: absolute;
  font-size: 4rem;
  transform: rotate(-90deg);
  left:-130px;
  bottom: 160px;
}
.formulario-izquierda-datos
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 100%;
  height: 100%;
}

.inputBox
{
  position: relative;
  width: 250px;
  
}
.inputBox input,
.inputBox textarea
{
  width: 100%;
  background: transparent;
  color: #000;
  border: none;
  border-radius: 0.6em;
  outline: none;
  box-shadow: none;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 10px 0 5px;
}

.inputBox span
{
  position: absolute;
  left: 0;
  padding: 10px 0 5px;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  pointer-events: none;
  letter-spacing: 0.1em;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span
{
  color: rgba(0, 0, 0, 0.5);
  left: 0;
  transform: translateY(-30px);
  font-size: 0.65em;
}
.inputBox i
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 0.5em;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden; 
}

.inputBox i::before
{
  content: "";
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0d0c0d, #ff1b69, #fafafa, #0d0c0d);
  animation: animate 2s linear infinite;
  transition: 0.5s;
}

.inputBox input:valid ~ i::before,
.inputBox input:focus ~ i::before,
.inputBox textarea:valid ~ i::before,
.inputBox textarea:focus ~ i::before
{
  left: 0;
}

textarea
{
  resize: none;
}
.formulario-izquierda-botones
{
  width: 250px;
  height: 50px;
}
.formulario-btn
{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 1em;
  box-shadow: -8px -8px 15px rgba(255,255,255, 1), 8px 8px 25px rgba(0, 0, 0, 0.15), inset 3px 3px 10px rgba(0, 0, 0, 0.1), inset -4px -4px 15px rgba(255, 255, 255, 1);
  overflow: hidden;
}

.btn-avion-icono
{
  position: absolute;
  top: 50%;
  left:10px;
  width: 35px;
  height: 35px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 25% 50%);
  transform: translateY(-50%);
  background: linear-gradient(to right, #0d0c0d, #ff1b69, #fafafa, #0d0c0d);
  transition: 1s;
  animation: animate 6s linear infinite;
}

.avion-activo
{
  left:1000px;
}

@keyframes animate{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 250px;
  }
}

.formulario-avion{
  position: absolute;
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0%, 100% 100%, 50% 75%, 0% 100%);
  transform: rotate(-45deg);
  bottom: -200px;
  right: -550px;
  background: linear-gradient(to right, #0d0c0d, #ff1b69, #fafafa, #0d0c0d);
  animation: animate 2s linear infinite;
  transition: 4s;
  z-index: 1;
}

.viaje{
  bottom: 900px;
  right: 1000px;
  animation: vuelo 1.8s, animate 2s linear infinite;
}

@keyframes vuelo {
  0%{
    transform: rotate(-45deg) scale(1);
  }
  10%{
    transform: rotate(-45deg) scale(1);
  }
  20%{
    transform: rotate(-45deg) scale(1);
  }
  100%{
    transform: rotate(-45deg) scale(0);
  }
}

@media only screen and (max-width: 768px){
  .container-contacto{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.formulario-completo{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario-derecha{
 display:none;
}

}